qwt-6.1.2/src/moc/
qwt-6.1.2/src/obj/
qwtplot3d/src/tmp/
cdm/moc/
cdm/obj/
*.orig
*/*.orig
qwtplot3d/src/Makefile
qwt-6.1.2/Makefile
qwt-6.1.2/textengines/Makefile
qwt-6.1.2/textengines/Makefile.qwt
qwt-6.1.2/Makefile.qwt
qwt-6.1.2/src/Makefile.qwt
qwt-6.1.2/src/Makefile
qwtplot3d/Makefile
Makefile
*/*.mat
*/fort.*
*/*/*.a
qwtplot3d/Makefile
cdmlib/Makefile
cdm/Makefile
*/*prout*
bin/output
*~
*/*~
*/cdm
*/options.db3
bin/cdm_*.log
bin/*.lf
bin/*.bin
bin/*.data
bin/.lf
bin/.data
bin/.bin
*/*.log
*/output
*/*.o
*/a.out
*/main
bin/*h5